.content {
  width: 100%;

  .banner {
    width: 100%;
  }
  .main-content {
    width: 100%;
    position: relative;
    .content-scorll {
      width: 100%;
      position: absolute;
      top: -18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      padding: 0px 16px 60px 16px;
      .scorll-box {
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        padding: 14px 0 60px 0;
        background: linear-gradient(to bottom, #fff, #f3f4f6);
        .notice-box {
          width: 100%;
          border-radius: 8px;
          overflow: hidden;
          margin-bottom: 8px;
          padding: 0 12px 8px 12px;
          box-sizing: border-box;
        }
        .search-box {
          width: 100%;
          margin-bottom: 8px;
          padding: 0 12px 8px 12px;
          box-sizing: border-box;
        }
        .goods-category {
          .category {
            margin: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    // .content-card-box {
    //   width: 100%;
    //   position: absolute;
    //   top: -12px;
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   box-sizing: border-box;
    //   padding: 0px 16px 60px 16px;
    //   .notice {
    //     width: 100%;
    //     border-radius: 8px;
    //     overflow: hidden;
    //     margin-bottom: 8px;
    //   }
    //   .goods-category {
    //     margin-top: 8px;
    //     .category {
    //       margin: 8px;
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //       justify-content: center;
    //     }
    //   }
    //   .search {
    //     // margin-top: 8px;
    //   }
    // }
  }
}
